.header{
    width: 100%;
    overflow: hidden;
    height: 90px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.boxHeader{
    width: 100%;
    display: flex;
    align-items: center;
    height: 90px;
}

.nav{
    flex: 1 1 auto;
}

.nav>nav>ul{
    display: flex;
    justify-content: center;
}

.nav>nav>ul>li{
    margin-right: 60px;
    font-weight: 500;
}

.nav>nav>ul>li:last-child{
    margin-right: 0;
}

.nav>nav>ul>li:hover{
    color: var(--bg-secondary);
}